#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pdf
*.asv
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
tesibackbone.pdf
tesibackbone.aux
tesibackbone.blg
tesibackbone.bbl
tesibackbone.bcf
tesibackbone.mtc
tesibackbone.mtc0
tesibackbone.mtc1
tesibackbone.mtc2
tesibackbone.mtc3
tesibackbone.mtc4
tesibackbone.mtc5
tesibackbone.mtc6
tesibackbone.mtc7
tesibackbone.mtc8
tesibackbone.run.xml
tesibackbone.synctex.gz
tesibackbone.toc
cap2/OF_plots/OUTPUT FACTORS - Mio rielaborato_OK.xls
