#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*-converted-to.pdf
*.asv
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
tesibackbone.pdf
tesibackbone.aux
tesibackbone.blg
tesibackbone.bbl
tesibackbone.bcf
tesibackbone.mtc
tesibackbone.mtc0
tesibackbone.mtc1
tesibackbone.mtc2
tesibackbone.mtc3
tesibackbone.mtc4
tesibackbone.mtc5
tesibackbone.mtc6
tesibackbone.mtc7
tesibackbone.mtc8
tesibackbone.run.xml
tesibackbone.synctex.gz
tesibackbone.toc
cap2/OF_plots/OUTPUT FACTORS - Mio rielaborato_OK.xls
bibliografia/Couch.bib
bibliografia/Temp.bib
pres_full/pres.aux
pres_full/pres.bcf
pres_full/pres.nav
pres_full/pres.out
pres_full/pres.pdf
pres_full/pres.run.xml
pres_full/pres.snm
pres_full/pres.synctex.gz
pres_full/pres.toc
pres_light/pres.aux
pres_light/pres.bcf
pres_light/pres.nav
pres_light/pres.out
pres_light/pres.pdf
pres_light/pres.run.xml
pres_light/pres.snm
pres_light/pres.synctex.gz
pres_light/pres.toc
pres_light/pres.nav
pres_light/pres.aux
pres_light/pres.nav
pres_light/pres.pdf
pres_light/pres.run.xml
pres_light/pres.synctex.gz
